* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: green;
    color: black;
    height: 5rem;
    line-height: 5rem;
}

.choices {
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 3rem;
    margin-top: 5rem;
}

.choice {
    height: 200px;
    width: 200px;
}

.choice:hover {
    cursor: pointer;
    
}

img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}